<div class="comments">
  {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{text}}
            </div>
            <div>
                {{user.name}}, {{format_date createdDate}}
            </div>
        </section>
    </div>
  {{/each}}
</div>