<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav>
    <ul id="list-nav">
    <li><a href="/">Home</a></li>
        {{#if logged_in}}
        <li><a href="/dashboard">Create Post</a></li>
        <li><button id="logout">Logout</button></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
  </nav>
    <header>
    <h1>MVC Tech Blog</h1>
  </header>
  <main>

      {{{body}}}

  </main>
  <footer>

  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>