{{> post-content post}}

{{#if logged_in}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body add-commment" id="add-comment">

        <label class="form-label">Comment</label>
        <input id="new-comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}
{{> comments post.comments}}
{{#if logged_in}}
<script src="/js/addComment.js"></script>
{{/if}}